h1 {
    width: 100%;
    text-align: center;
    font-size: 52px;
}

body {
    margin: 0;
    padding: 0;
}

main {
    width: 100%;
    height: 100%;
    max-width: 1500px;
    margin: 0 auto;
}

article {
    display: block;
    max-width: 500px;
}


img {
    max-width: 500px;
    height: auto;
    object-fit: contain;
    margin: auto;
}

.ingress {
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    max-width: 800px;
}

.bilde-seksjon {
    margin-top: 10vh;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

/* Reverser annenhver .bilde-seksjon */
.bilde-seksjon:nth-child(odd) {
    flex-direction: row-reverse;
}

.bilde-seksjon > article {
    margin: auto;
    flex: 1;
}

.bilde-seksjon > img {
    object-fit: contain;
    flex: 1;
}


/*
#bgDiv{  
    width: 100%; 
    min-height: 90vh; 
    background-image: url(birtheiramme-01.png); 
    background-size: cover;  
    background-position: center center; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
}  
*/

#nyDiv {
    width: 50%;
    position: relative;
}



@media screen and (max-width: 1000px) {

    .bilde-seksjon {
        flex-direction: column;
    }

    .bilde-seksjon:nth-child(odd) {
        flex-direction: column;
    }

}