
h1{
    width: 100%; 
    text-align: center; 
    font-size: 52px;
}
main{
display: flex; 
flex-wrap: nowrap; 
max-width: 1500px;
}
article{ 
    display: block;
    width: 100%; 
    max-width: 500px; 
    margin: 30vh auto 0 auto; 
    
} 
img{
    width: 100%; 
    max-width: 500px; 
    height: auto;
}  
 

/*
#bgDiv{  
    width: 100%; 
    min-height: 90vh; 
    background-image: url(birtheiramme-01.png); 
    background-size: cover;  
    background-position: center center; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
}  
*/ 

#nyDiv {
width: 50%;
position: relative; 



}



@media screen and (min-width: 1000px){
    


}