@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,600;1,500&display=swap');

h1 {
    width: 100%;
    text-align: center;
    font-size: 52px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Arimo', sans-serif;
    background-color: #bcc7d0; 
    line-height: 1.5;
}

main {
    width: 100%;
    height: 100%;
    max-width: 1500px;
    margin: 0 auto;
}

article {
    display: block;
    max-width: 500px;
}

#myChart { 
    width: 100%;
    max-width: 500px; 
    margin: 2rem 2rem 2rem 5rem; 
    max-height: 400px;
}

img {
    max-width: 500px;
    height: auto;
    object-fit: contain;
    margin: auto;
}

.ingress {
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    font-size: 1.2rem;
}

.bilde-seksjon {
    margin-top: 10vh;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border-bottom: 1px solid;
    font-size: 1.2rem;
}

/* Reverser annenhver .bilde-seksjon */
.bilde-seksjon:nth-child(odd) {
    flex-direction: row-reverse;
}

.bilde-seksjon > article {
    margin: auto;
    flex: 1;
}

.bilde-seksjon > img {
    object-fit: contain;
    flex: 1;
}

#kilder{  
    display: none;
    width: 90%; 
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 0px 10px #BABABA;
    padding: 1rem;
    margin-bottom: 6rem; 
    border-radius: 10px;
    background-color: #ffffff;
 }


#kildeBtn{ 
    display: block;
    margin: 2rem auto;
    font-size: 15px;
    width: 15rem; 
    height: 3rem;
    background-color: #ffffff;
    border: none;  
}



@media screen and (max-width: 900px) {

    .bilde-seksjon {
        flex-direction: column;
        border-bottom: none;

    }

    .bilde-seksjon:nth-child(odd) {
        flex-direction: column;
    }

    .bilde-seksjon > img {
        max-width: 100%;
    }

    .bilde-seksjon > article {
        margin: 50px;
    }

    .ingress {
        margin: 50px;
    }

    #myChart {
        margin: 30px;
    }
}