
  @import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,600;1,500&display=swap');

  *{ 
    scroll-behavior: smooth;
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;  
    font-family: 'Arimo', sans-serif;
    font-size: 16px; 
    line-height: 1.5;
  }

  header{ 
    width: 100%;
    background-color: #F1EE8C;
    padding: 4rem 0;  
    min-height: 30vh;
  } 

  main{
    margin: 2rem auto;
  }

  body {
    background-color: whitesmoke;
  }

  #scrollContainer1, #scrollContainer2, #scrollContainer3{
    width: 100%; 
    min-height: 60vh; 
    overflow: hidden;   
    background-size: contain; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    transition: background-image 2s; 
  } 
  
  #scrollContainer1 {
    background-image: url("img/plainpineapple.png");
  }  
  
  #scrollContainer2 { 
    background-image: url("img/tmspiser.png"); 
  }  
  
  #scrollContainer3 {
    background-image: url("img/pineappleface.png"); 
  }
  
    
  .scrollText {
    margin: 70vh auto; 
    width: 100%; 
    max-width: 800px;
    padding: 2rem 1rem;  
    background-color: #fff;
    }  
  
    .intro{
      width: 90%; 
      max-width: 500px; 
      margin: 5rem auto;

    } 
  
  
   h1{  
      width: 100%;
      margin-top: 12rem;
      text-align: center;
      /*color: #74C270;*/ 
      color: #000000;
      font-size: 2rem; 
      

   }
    .textSection{
      width: 90%; 
      max-width: 600px; 
      min-height: 90vh;  
      margin: 3rem auto; 
      text-align: center; 
      padding: 1rem;
    }    

    .textSection img{
      margin: 1rem auto;
    }

    .padding{
      padding-top: 10rem;
    }

    .center{
      text-align: center;
    } 

    .bold{
      font-weight: bolder;
    }
  
    .textSection img{
      width: 80%;
    } 

    #kilder{  
      display: none;
      width: 90%; 
      max-width: 600px;
      margin: 0 auto;
      box-shadow: 0 0px 10px #BABABA;
      padding: 1rem;
      margin-bottom: 6rem; 
      border-radius: 10px; 
      text-align: left;
   }
  
  
  #kildeBtn{ 
      display: block;
      cursor: pointer;
      margin: 3rem auto;
      font-size: 18px; 
      width: 100%;
      max-width: 18rem; 
      height: 3rem; 
      padding: 0 .3rem;
      background-color: #DBDBDB;
      border: none;  
  }
  
      @media screen and (min-width: 900px)   {
        header{
          min-height: 50vh;
        }
        h1{
          margin-top: 9rem; 
          font-size: 3rem;
        }
         body{
          font-size: 23px; 
          line-height: 1.8;
         } 

         .intro{
          margin: 5rem auto;
         }
        
  
    }