body {
    background-color: yellow;
  }
  main {
    background-color: white;
  } 
  
  #scrollContainer1, #scrollContainer2, #scrollContainer3{
      width: 100%; 
      min-height: 60vh; 
      overflow: hidden;   
      background-size: contain; 
      background-position: center; 
      background-repeat: no-repeat; 
      background-attachment: fixed; 
      transition: background-image 2s; 
  } 
  
  #scrollContainer1 {
      background-image: url("img/plainpineapple.png");
  }  
  
  #scrollContainer2 { 
      background-image: url("img/tmspiser.png"); 
  }  
  
  #scrollContainer3 {
      background-image: url("img/pineappleface.png"); 
  }
  
    
  .scrollText {
      margin: 70vh auto; 
      width: 85%; 
      max-width: 600px;
      padding: 1rem;  
      color: #000000; 
      background-color: rgb(255, 255, 255);
      /*box-shadow: 0px 0px 20px 35px rgba(238, 238, 238, 0.8);*/
      font-size: 1.4rem;
    }  
  
    .scrollImage {
      margin: 70vh auto; 
      width: 85%; 
      max-width: 600px;
      padding: 0rem;  
      align-items: center;
      color: #fff; 
    }
  
    .intro{
      width: 100%; 
      max-width: 500px; 
      min-height: 60vh;
    } 
  
    h1, section{ 
      display: block;
      margin: 0 auto;
    } 
  
   h1{ 
      margin-top: 40vh;
      text-align: center;
   }
    .textSection{
      width: 100%; 
      max-width: 600px; 
      min-height: 90vh;  
      margin: 0 auto; 
      text-align: center; 
    } 
  
    .textSection img{
      width: 80%;
    } 

    #kilder{  
      display: none;
      width: 90%; 
      max-width: 600px;
      margin: 0 auto;
      box-shadow: 0 0px 10px #BABABA;
      padding: 1rem;
      margin-bottom: 6rem; 
      border-radius: 10px;
   }
  
  
  #kildeBtn{ 
      display: block;
      cursor: pointer;
      margin: 2rem auto;
      font-size: 1rem;
      width: 16rem; 
      height: 4rem;
      background-color: #DBDBDB;
      border: none;  
  }
  
      @media screen and (max-width: 1000px)   {
  
         
        
  
    }