@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,400;1,600&family=Rubik:wght@400;600;700&display=swap');

:root {
--white: #fff;  
--red: rgba(182, 16, 16, 0.9); 
--black: #000;  
--bgColor: rgba(54, 59, 69, 0.9); 
} 

html {
    scroll-behavior: smooth; 
    background-color: var(--white); 
    font-family: 'Open Sans', sans-serif;  
    line-height: 1.5; 
    box-sizing: border-box;
} 

.art{
    max-width: 600px; 
    padding: 1rem; 
    margin: 3rem auto 3rem auto; 
    color: var(--black);    
    
}  

.art #sitat{
    font-style: italic;
    font-size: 22px; 
    
}
.art img{
    width: 100%; 
    max-width: 600px;
}

body {
    margin: 0;
    padding: 0; 
    font-size: 18px;
} 
#ingress{
    font-size: 20px;   
    
}

div, article, section {
    box-sizing: border-box;
}   

#changingBg{
    background-size: cover; 
    background-position: center top; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
} 

.scrollContainer1 {
    width: 100%; 
    min-height: 60vh; 
    overflow: hidden;  
    background-image: url("img/skoleNY_1.jpg");
    transition: background-image 0.3s;
}  

#scrollHeader{
    margin: 65vh auto 70vh auto;   
    padding: 1px 30px;
    max-width: fit-content; 
    text-align: center; 
    font-size: 24px;   
    font-weight: bold; 
    background-color: var(--white);  
} 

.scrollText {
    margin: 80vh auto; 
    max-width: fit-content;
    padding: 1rem;  
    background-color: var(--white);  
    
    border: 2px; 
    font-size: 22px;
}    

#scrollHeader h1, .scrollText p{
    max-width: 500px;
} 

#mapHeader{
    text-align: center; 
    font-size: 24px;
}
#scrollContainer2{
    width: 100%;
    min-height: 80vh;
    z-index: 5;
    padding-bottom: 50vh;
    display: block;    
    overflow: hidden;
}

#mapContainer {
    width: 100%;
    height: 100vh;
    position: sticky;
    top: 0; 
}

.scrollBox {
    position: relative;
    display: block;
    margin: 80vh auto 80vh auto;
    z-index: 10;
    width: 90vw;
    max-width: 400px;
    padding-left: 0;
    color: var(--white);   
    border-radius: 15px;  
    background: var(--bgColor);  
    overflow: hidden;
}    

.scrollBox img{
    width: 100%;  
    height: auto;
    border-radius: 0 0 15px 15px;  
    vertical-align: bottom; 
    
} 

article h3{
    border-bottom: 3px solid var(--red); 
    display: inline-block; 
    padding: 0 .4rem; 
    margin-bottom: 0;
} 

.scrollDiv{
    padding: 0 1rem; 
    display: inline-block
}

#topBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: 2px solid var(--red);
    background-color: var(--red);
    color: var(--white);
    padding: 0 17px 5px 17px;
    border-radius: 50%;
    font-size: 32px;
    text-decoration: none;
}
 
#kilder{  
    display: none;
    width: 90%; 
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 0px 10px #BABABA;
    padding: 1rem;
    margin-bottom: 6rem; 
    border-radius: 10px;
 }


#kildeBtn{ 
    display: block;
    cursor: pointer;
    margin: 2rem auto;
    font-size: 1rem;
    width: 16rem; 
    height: 4rem;
    background-color: #DBDBDB;
    border: none; 
} 

@media only screen and (min-width: 500px) {  
body{
        font-size: 20px;
    } 

    .art #sitat{
        font-size: 26px;
    } 
    
    .art #ingress{
        font-size: 22px; 
    }
}   

@media only screen and (min-width: 870px) {  

   
    #p2, #p4, #p6, #p8, #p10, #p12, #p14{
        /*venstre*/ 
        margin: 0 0 80vh 2rem;
    } 

    #p1, #p3, #p5, #p7, #p9, #p11, #p13, #p15{
        /*høyre*/ 
        margin: 0 2rem 80vh auto;     
    }  
     
    .scrollBox{
    max-width: 400px; 

    } 
    #topBtn{
        right: 40px; 
        bottom: 40px;
    } 
    #kilder {
        width: 50%;
    }
} 


@media only screen and (min-width: 1200px){  

    .scrollBox{
    max-width: 560px; 
    } 
    #topBtn{
        right: 100px; 
        bottom: 50px;
    }
    #topBtn:hover {
        color: var(--red); 
        background-color: var(--white);
    } 
    #kilder {
        width: 40%;
    }
}  